<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：新闻管理>添加商品
</div>
<div class="pannel">
    <form id="form01" enctype="multipart/form-data">
        <div class="news_review">

            <h3 class="review_title">添加商品</h3>

            <div class="form_group">
                <label>名称：</label>
                <input type="text" class="cate_name" name="name" value="{{ goods.name }}" width=100>
                <input type="text" class="cate_name" name="id" value="{{ goods.id }}" width=100 hidden>
            </div>
            <div class="form_group">
                <label>描述：</label>
                <input type="text" name="desc" width=100 value="{{ goods.desc }}">
            </div>
            <div class="form_group">
                <label>价格：</label>
                <input type="text" name="price" width=100 value="{{ goods.price }}">
            </div>
            <div class="form_group">
                <label>库存：</label>
                <input type="text" name="stock" width=100 value="{{ goods.stock }}">
            </div>
            <div class="form_group">
                <label>锁定库存：</label>
                <input type="text" name="lock_stock" width=100 value="{{ goods.lock_stock }}">
            </div>
            <div class="form_group">
                <label>是否推荐到首页:</label>
                {% if goods.is_recommend == 1 %}
                    <label>是：<input name="is_recommend" type="radio" value="1" width=30 checked></label>
                    &nbsp&nbsp
                    <label>否：<input name="is_recommend" type="radio" value="0" width=30></label>
                    &nbsp&nbsp
                {% else %}
                    <label>是：<input name="is_recommend" type="radio" value="1" width=30></label>
                    &nbsp&nbsp
                    <label>否：<input name="is_recommend" type="radio" value="0" width=30 checked></label>
                    &nbsp&nbsp
                {% endif %}

            </div>
            <div class="form_group">
                <label>上级分类：</label>
                <select class="p_cate" name="cid">
                    {% for cate in cateList %}
                        <option value="{{ goods.cid.id }}">{{ goods.cid.name }}</option>
                        <option value="{{ cate.id }}">{{ cate.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_group">
                <label>选择标签：</label>
                <select name="tid">
                    {% for cate in tagList %}
                        <option value="{{ goods.tid.id }}">{{ goods.tid.name }}</option>
                        <option value="{{ cate.id }}">{{ cate.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {#            <div class="form_group">#}
            {#                <label>锁定库存：</label>#}
            {#                <input type="text" name="lock_stock" width=100>#}
            {#            </div>#}

            <div class="form_group">
                <label>分类图片：</label>
                <input type="file" name="pic" class="cate_img" width="100" value="{{ goods.pic }}">
                <input type="text" name="img" class="cate_img" width="100" hidden>

            </div>

            <div class="form_group indent_group line_top">
                <input type="button" value="确定" class="confirm" onclick="addcate()">
                <input type="button" value="取消" class="cancel" onclick="cancel()">
            </div>
        </div>
    </form>
</div>
</body>
<script>
    function addcate() {
        $.ajax({
            url: '/sadmin/AddGoods/',
            type: 'post',
            cache: false,
            dataType: 'json',
            processData: false,
            contentType: false,
            data: new FormData($("#form01")[0]),
            {#data:$('form').serialize(),#}
            success: function (res) {
                console.log(res);
                if (res.code == 200) {
                    window.location.href = '/sadmin/showGoods/'

                }
            }
        })
    }
</script>
</html>