<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：新闻管理>角色编写
</div>
<div class="pannel">
    <form id="form01" enctype="multipart/form-data">
        <div class="news_review">

            <h3 class="review_title">角色编写</h3>

            <div class="form_group">
                <label>名称：</label>
                <input type="text" class="cate_name" name="name" width=100 value="{{ role.name }}">
                <input type="text" class="cate_name" name="id" width=100 value="{{ role.id }}" hidden>
            </div>


            <div class="form_group">
                <label>选取资源：</label>
                已选:
                {% for foo in resource %}
                    {{ foo.name }}
                {% endfor %}
                <br>
                {% for resourse in resource_list %}
                    <label> <input type="checkbox" value="{{ resourse.id }}" name="resource"> {{ resourse.name }}
                    </label>
                {% endfor %}
            </div>

            <div class="form_group">
                <label>是否启用:</label>
                {% if role.status == 0 %}
                    (已选否)
                {% elif  role.status == 1 %}
                    (已选是)
                {% endif %}
                <label>是：<input name="status" type="radio" class="status" value="0" width=30></label>
                &nbsp&nbsp
                <label>否：<input name="status" type="radio" class="status" value="1" width=30></label>
                &nbsp&nbsp
            </div>
            {#            <div class="form_group">#}
            {#                <label>图片分类：</label>#}
            {#                <input type="file" name="pic" class="cate_img" width="100">#}
            {#            </div>#}

            <div class="form_group indent_group line_top">
                <input type="button" value="确定" class="confirm" onclick="addcate()">
                <input type="button" value="取消" class="cancel" onclick="cancel()">
            </div>
        </div>
    </form>
</div>
</body>
<script>
    function addcate() {
        $.ajax({
            url: '/sadmin/addRole/',
            type: 'post',
            cache: false,
            dataType: 'json',
            processData: false,
            contentType: false,
            data: new FormData($("#form01")[0]),
            success: function (res) {
                console.log(res);
                if (res.code == 200) {
                    window.location.href = '/sadmin/roleList/'
                }

            }
        })
    }
</script>
</html>