<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" type="text/css" href='../../static/admin/css/jquery.pagination.css'>
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/admin/js/jquery.pagination.min.js"></script>

</head>
<body>
<div class="breadcrub">
    当前位置：用户管理>角色管理>
</div>
<div class="pannel">
    <table class="common_table">

    </table>

    <form id="form01" enctype="multipart/form-data">
        <table class="common">

        </table>
    </form>
</div>
<div id="pagination">

</div>
</body>
<script>
    {#获取分类页内容#}
    getCateList();

    function getCateList() {
        $.ajax({
            url: '/sadmin/getroleList/',
            type: 'get',
            dataType: 'json',
            success: function (res) {
                console.log(res);
                if (res.code === 200) {
                    var mes = res.r_list;
                    var len = mes.length;
                    var mes1 = res.c_list;
                    var len1 = mes1.length;
                    var html = '        <tr>\n' +
                        '            <td colspan="5"><a href="/sadmin/addRole/" class="addtype">添加角色</a></td>\n' +
                        '\n' +
                        '        </tr>\n' +
                        '        <tr>\n' +
                        '            <th width="10%">id</th>\n' +
                        '            <th width="20%">名称</th>\n' +
                        '            <th width="10%">是否启用</th>\n' +
                        '            <th width="20%">已选资源</th>\n' +
                        '            <th width="20%">管理操作</th>\n' +
                        '        </tr>';
                    var list = res.c_list;
                    var len1 = list.length;


                    for (var i = 0; i < len; i++) {
                        var n_list = [];

                        for (var ii = 0; ii < len1; ii++) {
                            if (list[ii]['rid'] == mes[i]['id']) {
                                n_list.push(list[ii]['resource']);
                            }
                        }
                        html += ' <tr><td width="20%">' + mes[i]['id'] + '</td><td width="20%">' + mes[i]['name'] + '</td>' + '</td><td width="20%">' + mes[i]['status'] + '</td><td width="20%">' + n_list +
                            '<td width="20%"><input type="button" value="修改" class="confirm" onclick="edit(' + mes[i]['id'] + ')">&nbsp<input type="button" value="删除" class="confirm" onclick="Delete(' + mes[i]['id'] + ')"></td></tr>'
                    }
                    $('.common_table').html(html)
                }
            }
        })

    }


    function Delete(id) {
        {#console.log(id);#}
        if (id) {
            console.log(id);
            $.ajax({
                url: '/sadmin/deleteRole/',
                type: 'post',
                dataType: 'json',
                data: {'id': id},
                success: function (res) {
                    console.log(res);
                    window.location.reload()
                }
            })
        }
    }


    function edit(id) {
        window.location.href = '/sadmin/addRole/' + '?id=' + id
    }

    function ok() {
        $.ajax({
            url: '/sadmin/editTag/',
            type: 'post',
            cache: false,
            dataType: 'json',
            processData: false,
            contentType: false,
            data: new FormData($("#form01")[0]),

            success: function (res) {
                console.log(res);
                console.log(FormData);
                if (res.code == 200) {
                    window.location.reload()
                }

            }
        })
    }
</script>
</html>